---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import TopLayout from "@layouts/TopLayout.astro";
import BottomLayout from "@layouts/BottomLayout.astro";
import ArticleTopLayout from "@layouts/ArticleTopLayout";
import ArticleBottomLayout from "@layouts/ArticleBottomLayout.astro";

export async function getStaticPaths() {
  const projects = await getCollection("projet");
  return projects.map((project) => ({
    params: { slug: project.slug },
    props: project,
  }));
}

type Props = CollectionEntry<"projet">;
const project = Astro.props;
const { title, summary, keywords } = project.data;

---

<PageLayout title={title} description={summary} keywords={keywords} logoId={3}>
  <TopLayout>
    <section class="animate">
      <ArticleTopLayout entry={project} />
    </section>
  </TopLayout>
  <BottomLayout>
    <section class="animate content-gradient">
      <ArticleBottomLayout entry={project} logoId={3} />
    </section>
  </BottomLayout>
</PageLayout>
